<!-- This is a parent html, specifying some universal structures for many other pages we have, such as titles, navbars and so on...-->

<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Microblog:
      <a href="{{url_for('index')}}">Home</a>
      {% if g.user.is_authenticated() %}
      | <a href="{{url_for('logout')}}">Logout</a>
      {% endif %}
    </div>
      
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <!-- Use get_flashed_messages() to get and then display quick message. -->

    {% block content %}{% endblock %}
    <!-- This is the place where child templates can fill in.

    {% block name %}{% endblock %}
    
    Then you have the same name in child templates.

    -->
  </body>
</html>