<!-- This is the login page -->

<!-- Still, extending from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }} 
      <!-- form.hidden_tag() will get replaced with a hidden field that implements the CSRF prevention that we enabled in the configuration. -->
      <p>
          Please enter your OpenID:<br>
          {{ form.openid(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}